html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: antiquewhite;

  background-image: url(../img/mountain-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;
  padding: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
}

.product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  &__product-image {
    width: 40vw;
    padding: 3rem;
  }

  &__product-info {
    display: flex;
    flex-direction: column;
  }
}

.buy-button {
  flex-direction: row;
  background-color: aquamarine;
  border: none;
  border-radius: 10px;
  width: 10rem;
}